.img_land_prev{
    width: 40%;
    height: 100%;
    position: absolute;
    left:0;
    z-index: 5;
    cursor: url("../img/pre.cur"),auto;
}
.img_land_next{
    width: 40%;
    height: 100%;
    position: absolute;
    right:0;
    float: right;
    top: 0;
    z-index: 5;
    cursor: url("../img/next.cur"),auto;
}
.comic_wraCon {
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.comic_wraCon img {
    border: 1px solid #e6e6e6;
    padding: 20px;
    margin-top: 20px;
}

h3 {
    color:red;
}

h2 {
    font-size: 1.20em;
}


p {
    /*font-size:35px;*/
    font: normal 150% Helvetica, Arial, sans-serif;
    color:red;
}
#dir_list {
    font: normal 150% Helvetica, Arial, sans-serif;
    /*font-size:25px;*/
    text-decoration:none;
    margin: auto auto auto auto;
    color:red;
}
#file_list {
    font: normal 150% Helvetica, Arial, sans-serif;
    /*font-size:25px;*/
    text-decoration:none;
    /*margin: auto auto auto auto;*/
    color:rgb(0, 38, 255);
}

#video1 {
    width: 90%;
    autoplay:autoplay;
}

body {
    /*background: rgb(185, 246, 246);*//*设置颜色背景*/
    /*background-image: url("../img/background.png");/*设置背景图片;*/
    /*background-repeat:no-repeat;/*图片适应窗口大小，这里设置的是不进行平铺*/
    /*background-attachment: fixed;/*图片相对于浏览器固定,这里设置背景图片固定，不随内容滚动*/
    /*background-origin: border-box;/*从边框区域显示*/
    /*background-size:cover;/*指定图片大小，此时会保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小*/
    background-image: url('../img/eg_bg_03.gif');
    /*background-repeat: repeat-y;    */
}


b {
    position: relative;

    /* position: absolute;     相对定位或绝对定位均可 */
    width:100%;
    font: normal 100% Helvetica, Arial, sans-serif;
    height:20px;
    /*top: 50%;*/
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    color:red;
    /* overflow: hidden; */
    padding-left: 20px;
    white-space: nowrap;
    /* animation: 10s wordsLoop linear infinite normal; */
    display: inline-block;
}


@keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes wordsLoop {
    0% {
        transform: translateX(200px);
        -webkit-transform: translateX(200px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.max_div {
    display: flex;
    padding-top: 20;
    justify-content: space-between;
}

a {
    text-decoration:none
}